@import url("https://fonts.googleapis.com/css2?family=Podkova&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arizonia&family=Monsieur+La+Doulaise&display=swap");

html,
body {
  margin: 0;
  border-color: #736b5e;
  color: rgb(247, 233, 195);
  font-size: 16px;
  font-family: "Podkova", serif, cursive;
}

body {
  padding-top: 10vh;
}

::-webkit-scrollbar {
  background-color: rgb(26, 28, 29);
  color: rgb(173, 166, 156);
}

::-webkit-scrollbar-corner {
  background-color: rgb(19, 21, 22);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(55, 60, 62);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  padding: 0 20px;

  width: 100%;
  height: 10vh;
  box-sizing: border-box;

  z-index: 9999;
  background-color: rgb(19, 21, 22);
}

img.icon {
  width: 40px;
  height: 40px;
}

img.icon:hover {
  text-decoration: underline;
  cursor: pointer;
}

div.menu-container {
  position: relative;
}

div.menu {
  display: flex;
  flex-direction: column;
  visibility: hidden;

  position: absolute;
  border-radius: 5px;
  overflow: hidden;

  box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
  background-color: rgb(19, 21, 22);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

div.menu.left {
  left: 0;
}
div.menu.right {
  right: 0;
}

div.menu > div.menu-item {
  min-width: 100px;
  padding: 10px 15px;
}

div.menu > div.menu-item:hover {
  background-color: rgb(47, 51, 53);
  cursor: pointer;
}

div#header-title {
  font-size: calc(min(4vw, 4vh));
}

div#background-image {
  height: 100vh;
  width: 100vw;
  /* z-index: -1; */
  position: fixed;
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat no-repeat;
}

div#title {
  position: relative;
  width: 100%;
  padding: 0 10%;
  font-size: 40px;
  font-weight: 500;
  margin-top: 130px;
  text-align: center;
  word-wrap: break-word;
  hyphens: auto;
  box-sizing: border-box;
  letter-spacing: -2px;
}

div#title-description {
  position: relative;
  width: 100%;
  padding: 0 10%;
  font-size: 16px;
  margin-top: 15px;
  text-align: center;
  word-wrap: break-word;
  hyphens: auto;
  box-sizing: border-box;
}

div#footer {
  width: calc(100% - 50px);
  height: 100px;
  position: relative;
  bottom: 0;
  font-family: "Open Sans", sans-serif;
  background-color: transparent;
  color: rgb(206, 202, 195);
  padding-top: 32px;
  padding-left: 50px;
  line-height: 22px;
  font-size: 12px;
  font-weight: bold;
}

p#copyright {
  font-size: smaller;
  letter-spacing: 1px;
}

p#social-icons > a {
  text-decoration: none;
  color: rgb(79, 227, 128);
  margin-right: 20px;
  display: inline-flex;
  align-items: center;
}

img.social-icon {
  display: inline-block;
  width: 12px;
  margin-right: 3px;
}
